body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}


#animeQuiz {
    background-image: url("../img/anime.jpg");
    margin-left: 10%;
}

#gameQuiz {
    background-image: url("../img/games.jpg");
}

#animeQuiz, #gameQuiz {
    height: 30vh;
    width: 30vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#animeQuiz, #gameQuiz:hover{
    cursor: pointer;
}

.caption {
    margin-top: 30%;
    background-color: blue;
    color: white;
}

#answers {
    list-style: none;
    cursor: pointer;
}

.multipleChoice:hover {
    background-color: blue;
    color: white;
}

.multipleChoice:active{
    background-color: darkblue;
}

.vertical-center{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}

/* #timeText {
    display: inline-block;
    line-height: 40px;
}

svg {
    transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: black;
    fill: none;
    animation: countdown 10s linear infinite forwards;
  }

  @keyframes circularTimer {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 113px;
    }
  } */